services:
  mysql:
    image: mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_USER=hygino
      - MYSQL_PASSWORD=89631139
      - MYSQL_DATABASE=mydb
      - MYSQL_ROOT_PASSWORD=89631139